html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: #212121;
  margin: 0;
  font-size: 1.6rem;
  line-height: 175%;
  font-weight: 400;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}
/*------------------------------ Background ------------------------------*/
.s1BG {
  background-color: #68746b;
}

.s2BG {
  background-color: #768791;
}

.s3BG {
  background-color: #212121;
}

/*------------------------------ Containers ------------------------------*/
.header {
  position: fixed;
  display: flex;
  height: 11vh;
  border: 0;
  border-bottom: 0.1rem solid #595959;
  align-items: center;
  font-family: sans-serif;
  font-size: 0.8rem;
  width: 100%;
  z-index: 100;
}

.footer {
  position: absolute;
  width: 100%;
  top: 95%;
  /* margin-top: 10rem; */
}

.logoTitle {
  display: flex;
  align-items: center;
  width: 30%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 70%;
}
.nav h3 {
  padding-right: 5rem;
  font-family: "Uxum Grotesque", sans-serif;
  color: #ffffff;
}

.main-body {
  width: 100vw;
  height: 100vh;
}

.swiper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.swiper-scrollbar {
  /* background-color: #8f1717; */
  /* color: #ffffff; */
  margin-bottom: 5vh;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.slide-texts {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 5;
  min-width: 60vw;
  height: 100%;
  margin-top: 65vh;
}

.maxWidthHeight {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-container {
  margin-top: 60vh;
  width: 1512px;
  max-width: 2000px;
}

.about-container {
  margin-top: 400vh;
}

.contact-container {
  margin-top: 250vh;
  color: #ffffff;
  z-index: 5;
}

.perMenu {
  padding: 4vh;
  border: 1px solid #ffffff;
  margin: 1vh;
  border-radius: 1rem;
}

.perMenu__details__title {
  color: #ffffff;
  font-size: 1.5rem;
  margin: 0;
}

.perMenu__details__price {
  color: #ffffff;
  font-size: 1rem;
  margin: 0;
}

.absolute-container {
  position: absolute;
  left: 30vw;
}

.container-bottom {
  display: none;
  padding-bottom: 10vh;
}

.about-container .row {
  padding-bottom: 20vh;
  height: fit-content;
}

/*------------------------------ Images ------------------------------*/
.iconImg {
  display: none;
  width: 70px;
  height: auto;
  padding: 1rem;
}
.iconImg2 {
  display: none;
  width: 100px;
  height: 100px;
  padding: 1rem;
}
.s1Img,
.s2Img,
.s3Img {
  display: none;
  width: 75%;
  height: auto;
}

.menuFoodImage {
  height: 20vh;
  width: auto;
}

.aboutImages {
  height: 40vh;
  width: auto;
  opacity: 0;
}

/*------------------------------ Texts ------------------------------*/
.iconTitle {
  display: none;
  color: #ffff;
}

.num-slide-texts {
  display: none;
  font-family: sans-serif;
  color: #c8c7c3;
  font-size: 3rem;
  padding-left: 1rem;
  padding-bottom: 5rem;
}

.desc-slide-texts {
  display: none;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 13rem;
  padding: 0;
}

.desc-slide-texts-brute {
  position: absolute;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 13rem;
  padding: 0;
  bottom: 83vh;
}
#progressbar {
  width: 93%;
  height: 1px;
  background-color: #6c6c6c;
  color: #ffffff;
  border: 0;
  margin: 0 auto;
}

#menuText {
  display: none;
  cursor: pointer;
}

#aboutText,
#contactText {
  cursor: pointer;
}

#menu--menuText {
  display: none;
}

.aboutTexts {
  opacity: 0;
  color: #ffffff;
  text-align: justify;
  padding-right: 60px;
  font-size: 1.1rem;
}

.bottom-container-title {
  color: #ffffff;
  font-size: 12rem;
  text-align: center;
  margin-bottom: 8vh;
  opacity: 0;
}
.tab-title {
  color: #ffffff;
  font-size: 7rem;
  text-align: center;
}

.contact-title {
  font-size: 5rem;
  text-align: center;
}

.contact-title2 {
  padding-top: 20px;
  font-size: 3rem;
  text-align: center;
}
div.ui-datepicker {
  font-size: 1.1rem;
}

.scrollDownIcon {
  display: none;
  position: absolute;
  top: 791px;
  left: 157px;
  z-index: 2;
  width: 300px;
}

.draggableIcon {
  position: absolute;
  top: 1066px;
  left: 550px;
}
/*------------------------------ Swipers ------------------------------*/
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*------------------------------ Effects ------------------------------*/
.hidden {
  opacity: 0;
}

.displayNone {
  display: none;
}

/*------------------------------ Buttons ------------------------------*/

#homeBtn,
#menuBtn,
#aboutBtn,
#contactBtn {
  cursor: pointer;
  display: none;
}

.detailsBtn {
  padding: 2vh;
  font-size: 1.2rem;
  margin-left: 8.2vw;
  margin-bottom: 3vh;
}

/*------------------------------ Animation ------------------------------*/

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 80s linear infinite;
  -moz-animation: rotating 80s linear infinite;
  -ms-animation: rotating 80s linear infinite;
  -o-animation: rotating 80s linear infinite;
  animation: rotating 80s linear infinite;
}
